<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PortfolioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="head-left">
      <%= link_to "PC構成投稿サイト", "/", class: "no-underline" %>
    </div>
    <div class="head-right">
      <ul>
        <il><%= link_to("PC構成投稿サイトとは", "/about") %></il>
        <il><%= link_to("使用言語/フレームワーク", "/lang") %></il>
      </ul>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
